@model The_fifth_group_FinalProject.Models.ForumSectionBranch

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ForumSectionBranch</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BranchName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BranchName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectionAdministrator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectionAdministrator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Administrator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Administrator.MemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectionName.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
