@model IEnumerable<The_fifth_group_FinalProject.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<h2>Products</h2>


@*<form asp-controller="Products" asp-action="Search" method="post">
    <div class="form-group">
        <label>Brand:</label>
        <select name="brand" class="form-control">
            <option value="">-- Select Brand --</option>
            @foreach (var brand in Model.Brands)
            {
                <option value="@brand">@brand</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Color:</label>
        <select name="color" class="form-control">
            <option value="">-- Select Color --</option>
            @foreach (var color in Model.Colors)
            {
                <option value="@color">@color</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Price range:</label>
        <div class="row">
            <div class="col-sm-6">
                <input type="number" name="minPrice" class="form-control" />
            </div>
            <div class="col-sm-6">
                <input type="number" name="maxPrice" class="form-control" />
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
*@


<div class="row">
    @foreach (var product in Model)
    {
            <div class="col-sm-3">
                <div class="card">
                <img class="card-img-top" src="@product.ImageUrl" alt="@product.ProductName">
                    <div class="card-body">
                        <h5 class="card-title">@product.ProductName</h5>
                        <p class="card-text">Color: @product.Color.Color1</p>
                        <p class="card-text">Price: @product.Price</p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
    }
</div>