@model IEnumerable<The_fifth_group_FinalProject.Models.ForumSectionBranch1TopicsThread>

@{
    ViewData["Title"] = "Index";
}
@{
    <style>
        thead {
            width: 95%;
            text-align: center;
        }
        tbody{
            width:95%;
        }
        .replier {
            width: 4em;
        }
    </style>
}

<table class="table">
    <thead>
        <tr>
            @* <th>
            @Html.DisplayNameFor(model => model.TopicState)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.ReplyNumber)
            </th>*@
            <th class="replier">
                回文者
                @*  @Html.DisplayNameFor(model => model.ReplyMember)*@
            </th>
            <th>
                內文
                @*   @Html.DisplayNameFor(model => model.ReplyContent)*@
            </th>
            <th>
                回覆時間
                @* @Html.DisplayNameFor(model => model.ReplyTime)*@
            </th>
            @* <th>
            @Html.DisplayNameFor(model => model.ReplyState)
            </th>*@

            @* <th>
            @Html.DisplayNameFor(model => model.Topic)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @* <td>
            @Html.DisplayFor(modelItem => item.TopicState)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.ReplyNumber)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ReplyMember.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReplyContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReplyTime)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.ReplyState)
            </td>*@

                @*<td>
            @Html.DisplayFor(modelItem => item.Topic.Id)
            </td>*@

            </tr>
        }

    </tbody>

</table>


